
.class_component{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: rgb(229, 141, 47);
    color: black;
    padding: 20px;
    text-align: center;
    margin-right: 100px;
    margin-top: 40px;
    box-sizing: border-box;
}

.special_p2 {
    color: rgb(106, 108, 236);
}